보안 권고사항에 따라서 JWT의 비밀 키를 512비트 이상으로 수정한다

### 🐞 설명

현재 서명에 사용되는 키가 256비트이고, `HS512` 알고리즘에 충분히 안전하지 않다는 에러가 있습니다.
JWT JWA 스펙에 따라 사용되는 키를 256비트에서 512비트로 수정해야 합니다.

### 📄 버그 로그

```shell
io.jsonwebtoken.security.SignatureException: Unable to compute HS512 signature. Cause: The signing key's size is 256 bits which is not secure enough for the HS512 algorithm. The JWT JWA Specification (RFC 7518, Section 3.2) states that keys used with HS512 MUST have a size >= 512 bits (the key size must be greater than or equal to the hash output size). Consider using the Jwts.SIG.HS512.key() builder to create a key guaranteed to be secure enough for HS512.  See https://tools.ietf.org/html/rfc7518#section-3.2 for more information.
```


### 🌏 버그 발생 환경

Windows 11, IntelliJ IDEA, Bruno

### 📚 참고 자료

- [RFC 7518 - 3.2 HMAC with SHA-2 Functions](https://tools.ietf.org/html/rfc7518#section-3.2)

### ⏰ 추정 시간

10분

### ⏰ 소요 시간

10분